<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Car list</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/list'}">View car list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/new'}">Add new car</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" th:href="@{'/userdetails'}">User details</a>
                    <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" href="#" type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                   th:value="${searchQuery != null} ? ${searchQuery} : ''" th:name="model" id="model"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/list}">Clear search</a>
        </form>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 200px" sec:authorize="isAuthenticated()">
    Logged as: <span sec:authentication="name">Marek</span>
    <br/>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" align="center">Cars available in our store</h1>
                </div>
                <div class="panel-body" align="center">
                    </div>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(cars)}">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th sec:authorize="hasAuthority('ADMIN')">ID</th>
                                <th>Mark</th>
                                <th>Model</th>
                                <th>View</th>
                                <th>Update</th>
                                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="car : ${cars}">
                                <div th:if="${car.thisIsBoughtCar == false}">
                                <td sec:authorize="hasAuthority('ADMIN')" th:text="${car.id}" >ID</td>
                                <td th:text="${car.mark}">Car mark</td>
                                <td th:text="${car.model}">Car model</td>
                                <td><a href="#" th:href="@{'/car/' + ${car.id} + '/show'}">Details</a></td>
                                <td><a href="#" th:href="@{'/car/' + ${car.id} + '/update'}">Update</a></td>
                                <td sec:authorize="hasAuthority('ADMIN')"><a href="#" th:href="@{'/car/' + ${car.id} + '/delete'}">Delete</a></td>
                                <td th:text="${car.price} + PLN">Price</td>
                                <form th:object="${car}" th:action="@{buyCar}" method="post">
                                <td><a class="btn btn-outline-dark" href="#"
                                       th:href="@{'/car/' + ${car.id} + '/buy'}"
                                       role="button" type="submit">Buy</a></td>
                                </form>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>