<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car Form</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" media="all"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/list'}">View car list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/new'}">Add new car</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" th:href="@{'/userdetails'}">User details</a>
                    <form th:action="@{/logout}" method="post">
                        <button class="dropdown-item" href="#" type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 100px" >
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <form  action="http:\\localhost" th:object="${car}" th:action="@{/newCar}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="${car.id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" align="center">Add new Car</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Mark:</label>
                                    <input th:field="${car.mark}"
                                           class="form-control"
                                           type="text"
                                           name="mark"
                                           />
                                    <p th:class="${#fields.hasErrors('mark') ? 'error-text' : ''}"
                                       th:if="${#fields.hasErrors('mark')}"
                                       th:errors="${car.mark}"></p>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Model:</label>
                                    <input th:field="${car.model}"
                                           class="form-control"
                                           type="text"
                                           name="model" />
                                    <p th:class="${#fields.hasErrors('model') ? 'error-text' : ''}"
                                       th:if="${#fields.hasErrors('model')}"
                                       th:errors="${car.model}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Horse power:</label>
                                    <input type="number"
                                           class="form-control"
                                           th:field="${car.horsePower}"
                                           name="horsePower" />
                                    <p th:class="${#fields.hasErrors('horsePower') ? 'error-text' : ''}"
                                       th:if="${#fields.hasErrors('horsePower')}"
                                       th:errors="${car.horsePower}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Year of production:</label>
                                    <input type="number"
                                           class="form-control"
                                           th:field="${car.yearOfProduction}"
                                           name="yearOfProduction" />
                                    <p th:class="${#fields.hasErrors('yearOfProduction') ? 'error-text' : ''}"
                                       th:if="${#fields.hasErrors('yearOfProduction')}"
                                       th:errors="${car.yearOfProduction}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Price:</label>
                                    <input type="number"
                                           class="form-control"
                                           th:field="${car.price}"
                                           name="price" />
                                    <p th:class="${#fields.hasErrors('price') ? 'error-text' : ''}"
                                       th:if="${#fields.hasErrors('price')}"
                                       th:errors="${car.price}"></p>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Condition:</label>
                                    <select class="form-control" th:field="${car.condition}">
                                     <option
                                            th:each="conditionValue : ${T(mg.springframework.model.Condition).values()}"
                                            th:value="${conditionValue.name()}"
                                            th:text="${conditionValue.name()}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Fuel type:</label>
                                    <select class="form-control" th:field="${car.fuelType}">
                                        <option
                                                th:each="fuelTypeValue : ${T(mg.springframework.model.FuelType).values()}"
                                                th:value="${fuelTypeValue.name()}"
                                                th:text="${fuelTypeValue.name()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <br/>
                                    <label class="control-label">Select Image</label>
                                    <input id="imagefile" name="imagefile" type="file" class="file">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" align="center">Description</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="10" th:field="${car.description}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div align="center">
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-dark">Submit</button>
                            <a class="btn btn-outline-dark" href="#" th:href="@{'/list'}" role="button">Back</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>