<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}" media="all"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

</head>

<body class="body-class">

<div class="container">

    <p align="center" th:if="${registerError}" th:text="${registerError}" th:class="${'alert ' + alertClass}">User
        exists</p>
    <form class="form-signin" th:object="${user}" th:action="@{/register}"  method="POST">
        <input type="hidden" th:field="${user.id}"/>

        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="username" class="sr-only">username</label>
        <input type="text"
               th:field="${user.username}"
               id="username"
               name="username"
               class="form-control"
               placeholder="Username"
               required autofocus>
        <p th:class="${#fields.hasErrors('username') ? 'error-text' : ''}"
           th:if="${#fields.hasErrors('username')}"
           th:errors="${user.username}"></p>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               th:field="${user.userpassword}"
               id="inputPassword"
               name="password"
               class="form-control"
               placeholder="Password" required>
        <div align="center">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-dark">Register</button>
                <a class="btn btn-outline-dark" href="#" th:href="@{'/'}" role="button">Back</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>