<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>User details</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{'/list'}">View car list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/new'}">Add new car</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <form th:action="@{/logout}" method="post">
                        <button class="dropdown-item" href="#" type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 100px" sec:authorize="isAuthenticated()">
    <div class="row justify-content-center">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row justify-content-center">
                            <h1 class="panel-title" align="center">User details</h1>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Id:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${currentUser.id}">Id</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Username:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${currentUser.username}">Username</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <h3 class="panel-title" align="center">Bought cars:</h3>
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th sec:authorize="hasAuthority('ADMIN')">ID</th>
                                    <th>Mark</th>
                                    <th>Model</th>
                                    <th>View</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tr th:each="boughtCar : ${boughtCars}">
                                        <td sec:authorize="hasAuthority('ADMIN')" th:text="${boughtCar.id}" >ID</td>
                                        <td th:text="${boughtCar.mark}">Car mark</td>
                                        <td th:text="${boughtCar.model}">Car model</td>
                                        <td><a href="#" th:href="@{'/car/' + ${boughtCar.id} + '/show'}">Details</a></td>
                                        <td th:text="${boughtCar.price}">Price</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
<div align="center">
    <a class="btn btn-outline-dark" href="#" th:href="@{'/list'}" role="button">Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>